.userTable{
  width: 100%;
  background-color: rgb(14, 4, 4);
  box-shadow:  1px 1px 8px rgba(0,0,0,0.065) ;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
  
}

.addButton{
  text-decoration: none;
  background-color: purple;
  color: white;
  font-weight: 500;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
  border: 5px;
  padding: 10px;
  border-radius: 5px;
}

.userTable table{
  width: 100%;
  margin-top: 30px;
  border-collapse:collapse ;
}